
table {
    color: whitesmoke;
}

th {
    color: whitesmoke;
}

td {
    color: whitesmoke;
}

a{
    color: whitesmoke;
}

.dark-nav {
    background-color: rgb(24, 26, 27);
    color: #404040;
}

.image-container {
    position: absolute;
    float: right;
    right: 0;
    clear: both;
    padding-right: 25px;
    padding-top: 4px; 
}