@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to my CandyBar Project!</h1>
    <p>Below is a video of me explaining and demonstrating what this project can do!</p>   
       
    <iframe 
        width="1000" height="480" src="https://www.youtube.com/embed/856ZoRKVsi4"
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</div>
